//COLOURS
$color-primary: #d6a5a5;
$color-primary-dark: #ae8787;
$color-primary-light: #eec7c7;
$color-primary-hover: #c69999;

$color-accent: #8cb1b1;
$color-accent-dark: #607979;
$color-accent-light-1: #b9cece;
$color-accent-light-2: #cedddd;
$color-accent-light-3: #e8fafa;

$color-text-light: #eeeeee;
$color-text-medium: #a4a4a4;
$color-text-dark:#222b2b;

//FONTS
$font-content: 'Joan', serif;
$font-display-heading: 'Cinzel Decorative', cursive;
$font-display-subheading: 'Cinzel', serif;

//TRANSITIONS
$default-transition-quick: 100ms all ease-in-out;
$default-transition-medium: 200ms all ease-in-out;
$default-transition-very-slow: 6s all ease-in-out;