* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 48.68em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 35.1em) {
  html {
    font-size: 50%;
  }
}

body {
  font-size: 1.6rem;
  font-family: "Cinzel", serif;
  position: relative;
  text-align: center;
}

::-moz-selection {
  background-color: #ae8787;
  color: #eeeeee;
}

::selection {
  background-color: #ae8787;
  color: #eeeeee;
}

.heading-primary__main {
  font-family: "Cinzel Decorative", cursive;
  font-size: 8rem;
  line-height: 12rem;
  letter-spacing: 3.33333rem;
  text-align: left;
}

@media only screen and (max-width: 76rem) {
  .heading-primary__main {
    font-size: 7rem;
    line-height: 12rem;
  }
}

@media only screen and (max-width: 60rem) {
  .heading-primary__main {
    font-size: 6rem;
    line-height: 9rem;
  }
}

@media only screen and (max-width: 27em) {
  .heading-primary__main {
    padding-bottom: 2rem;
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: 1.5rem;
    text-align: center;
  }
}

.heading-primary__sub {
  font-family: "Cinzel Decorative", cursive;
  font-size: 2.5rem;
  letter-spacing: 0.23rem;
  text-align: left;
}

@media only screen and (max-width: 76rem) {
  .heading-primary__sub {
    font-size: 2.3rem;
  }
}

@media only screen and (max-width: 60rem) {
  .heading-primary__sub {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 27em) {
  .heading-primary__sub {
    font-size: 2.5rem;
    line-height: 4rem;
    letter-spacing: 0.3rem;
    text-align: center;
  }
}

.textflash__title {
  padding-bottom: 6rem;
  font-family: "Cinzel Decorative", cursive;
  font-size: 6rem;
}

@media only screen and (max-width: 76rem) {
  .textflash__title {
    font-size: 5rem;
    padding-bottom: 5rem;
  }
}

@media only screen and (max-width: 60rem) {
  .textflash__title {
    font-size: 3.5rem;
    padding-bottom: 3.5rem;
  }
}

@media only screen and (max-width: 27em) {
  .textflash__title {
    font-size: 3rem;
    padding-bottom: 2.5rem;
  }
}

.textflash__content {
  font-size: 2rem;
  font-family: "Joan", serif;
}

@media only screen and (max-width: 76rem) {
  .textflash__content {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 60rem) {
  .textflash__content {
    font-size: 1.7rem;
  }
}

.textflash__close {
  padding-top: 7rem;
  font-family: "Cinzel Decorative", cursive;
  font-size: 6rem;
}

@media only screen and (max-width: 76rem) {
  .textflash__close {
    padding-top: 5rem;
    font-size: 5rem;
  }
}

@media only screen and (max-width: 60rem) {
  .textflash__close {
    padding-top: 4rem;
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 27em) {
  .textflash__close {
    font-size: 3rem;
  }
}

.btn-primary {
  display: inline-block;
  padding: 1.5rem 2rem;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, right bottom, from(#d6a5a5), to(#ae8787));
  background: linear-gradient(to bottom right, #d6a5a5, #ae8787);
  -webkit-box-shadow: 0.5px 0.5px 2px #8cb1b1;
          box-shadow: 0.5px 0.5px 2px #8cb1b1;
  color: #eeeeee;
  -webkit-transition: 100ms all ease-in-out;
  transition: 100ms all ease-in-out;
  text-decoration: none;
  cursor: pointer;
}

.btn-primary:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#c69999), to(#ae8787));
  background: linear-gradient(to bottom right, #c69999, #ae8787);
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
  color: #eeeeee;
}

.contact__title {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 4rem;
}

@media only screen and (max-width: 60rem) {
  .contact__title {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 27em) {
  .contact__title {
    margin-bottom: 2rem;
  }
}

.contact__content {
  font-family: "Joan", serif;
  margin-bottom: 7rem;
  font-size: 1.9rem;
}

@media only screen and (max-width: 60rem) {
  .contact__content {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 27em) {
  .contact__content {
    margin-bottom: 3rem;
  }
}

.contact__button {
  padding: 1rem 1.5rem;
  border-radius: 20px;
  font-size: 2.75rem;
  -webkit-transition: 100ms all ease-in-out;
  transition: 100ms all ease-in-out;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 60rem) {
  .contact__button {
    font-size: 2rem;
  }
}

.contact__button:hover {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.footer {
  padding: 4rem;
  color: #eeeeee;
}

.footer__main-content {
  padding: 4rem 0 6rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__main-content--contact-method {
  font-size: 3rem;
  -webkit-transition: 100ms all ease-in-out;
  transition: 100ms all ease-in-out;
}

.footer__main-content--contact-method:hover {
  color: #a4a4a4;
  cursor: pointer;
}

.footer__company-info--company-title {
  font-family: "Cinzel Decorative", cursive;
  font-size: 3rem;
  letter-spacing: 1.25rem;
}

.footer__company-info--company-location {
  font-size: 2rem;
}

.footer__attribution {
  padding-top: 3rem;
}

@media only screen and (max-width: 27em) {
  .footer__attribution {
    font-size: 1.4rem;
  }
}

.footer__attribution--logo {
  height: 5rem;
  -webkit-transition: 100ms all ease-in-out;
  transition: 100ms all ease-in-out;
}

@media only screen and (max-width: 27em) {
  .footer__attribution--logo {
    height: 4rem;
  }
}

.footer__attribution--logo:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.footer__attribution--logo:hover::after {
  content: "";
  display: table;
  clear: both;
}

.homepage-logo {
  position: fixed;
  top: 4rem;
  right: 4rem;
  height: 6rem;
  padding: 1rem 2rem;
  background-color: rgba(214, 165, 165, 0.7);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1px #d6a5a5;
          box-shadow: 0 0 1px #d6a5a5;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

@media only screen and (max-width: 76rem) {
  .homepage-logo {
    height: 5rem;
    padding: 0.75rem 1.75rem;
  }
}

@media only screen and (max-width: 27em) {
  .homepage-logo {
    display: none;
  }
}

.homepage-logo:hover {
  cursor: pointer;
  background-color: #ae8787;
}

.sidebar {
  position: fixed;
  top: 2rem;
  left: 0;
  font-size: 1.8rem;
}

@media only screen and (max-width: 76rem) {
  .sidebar {
    left: 0;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 27em) {
  .sidebar {
    top: 1rem;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.2rem;
  }
}

.sidebar li {
  list-style: none;
  padding: 1.5rem 1rem;
  text-align: left;
}

@media only screen and (max-width: 76rem) {
  .sidebar li {
    padding: 1.5rem 0;
  }
}

@media only screen and (max-width: 27em) {
  .sidebar li {
    padding: 1rem 1.2rem;
    background-color: #607979;
    border: 4px 4px 4px #607979;
    text-align: center;
  }
}

.sidebar__menu-item--return-to-top {
  position: fixed;
  bottom: 2rem;
  left: 3rem;
  padding: 1rem 2rem;
  background-color: rgba(140, 177, 177, 0.7);
  border-radius: 50%;
}

@media only screen and (max-width: 76rem) {
  .sidebar__menu-item--return-to-top {
    left: 2rem;
    font-size: 2rem;
  }
}

.sidebar__menu-item--return-to-top:hover {
  background-color: rgba(140, 177, 177, 0.9);
  color: #eeeeee;
}

.sidebar__menu-item--active {
  font-weight: 600;
}

.sidebar__menu-item--link {
  color: #eeeeee;
  text-decoration: none;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.sidebar__menu-item--link:hover {
  cursor: pointer;
  text-decoration: none;
  color: #a4a4a4;
}

.testimonial-content__list-1 {
  padding: 4rem 12rem 0 12rem;
}

.testimonial-content__stars {
  padding-top: 3rem;
}

.testimonial-content__stars, .testimonial-content__review {
  font-size: 3rem;
  color: #8cb1b1;
}

@media only screen and (max-width: 76rem) {
  .testimonial-content__stars, .testimonial-content__review {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 48.68em) {
  .testimonial-content__stars, .testimonial-content__review {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 35.1em) {
  .testimonial-content__stars, .testimonial-content__review {
    font-size: 1.75rem;
  }
}

.testimonial-content__quotation {
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 76rem) {
  .testimonial-content__quotation {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 48.68em) {
  .testimonial-content__quotation {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 35.1em) {
  .testimonial-content__quotation {
    font-size: 1.5rem;
  }
}

.testimonial-content__date {
  font-size: 1.8rem;
  color: #a4a4a4;
}

@media only screen and (max-width: 76rem) {
  .testimonial-content__date {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 48.68em) {
  .testimonial-content__date {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 35.1em) {
  .testimonial-content__date {
    font-size: 1.1rem;
  }
}

.testimonial-content__image--photo {
  width: 30rem;
  -webkit-box-shadow: 0 0 2px black;
          box-shadow: 0 0 2px black;
  border-radius: 50%;
}

@media only screen and (max-width: 76rem) {
  .testimonial-content__image--photo {
    width: 25rem;
  }
}

@media only screen and (max-width: 48.68em) {
  .testimonial-content__image--photo {
    width: 22rem;
  }
}

@media only screen and (max-width: 35.1em) {
  .testimonial-content__image--photo {
    width: 20rem;
  }
}

.container-grid-testimonial-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: 33% 66%;
      grid-template-columns: 33% 66%;
  padding-bottom: 4rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-grid-testimonial-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: 66% 33%;
      grid-template-columns: 66% 33%;
  padding-bottom: 4rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-main-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 67rem 8rem min-content min-content 8rem 56rem 8rem 60rem min-content;
      grid-template-rows: 67rem 8rem -webkit-min-content -webkit-min-content 8rem 56rem 8rem 60rem -webkit-min-content;
      grid-template-rows: 67rem 8rem min-content min-content 8rem 56rem 8rem 60rem min-content;
  -ms-grid-columns: 12vw (1fr)[3];
      grid-template-columns: 12vw repeat(3, 1fr);
}

@media only screen and (max-width: 76rem) {
  .container-main-grid {
    -ms-grid-rows: 60rem 6rem min-content min-content 6rem 56rem 6rem 60rem min-content;
        grid-template-rows: 60rem 6rem -webkit-min-content -webkit-min-content 6rem 56rem 6rem 60rem -webkit-min-content;
        grid-template-rows: 60rem 6rem min-content min-content 6rem 56rem 6rem 60rem min-content;
    -ms-grid-columns: 16vw (1fr)[3];
        grid-template-columns: 16vw repeat(3, 1fr);
  }
}

@media only screen and (max-width: 60rem) {
  .container-main-grid {
    -ms-grid-rows: 60rem 6rem min-content min-content 6rem 56rem 6rem 60rem min-content;
        grid-template-rows: 60rem 6rem -webkit-min-content -webkit-min-content 6rem 56rem 6rem 60rem -webkit-min-content;
        grid-template-rows: 60rem 6rem min-content min-content 6rem 56rem 6rem 60rem min-content;
    -ms-grid-columns: 16vw (1fr)[3];
        grid-template-columns: 16vw repeat(3, 1fr);
  }
}

@media only screen and (max-width: 48.68em) {
  .container-main-grid {
    -ms-grid-rows: 60rem 6rem min-content min-content 6rem min-content 6rem 60rem min-content;
        grid-template-rows: 60rem 6rem -webkit-min-content -webkit-min-content 6rem -webkit-min-content 6rem 60rem -webkit-min-content;
        grid-template-rows: 60rem 6rem min-content min-content 6rem min-content 6rem 60rem min-content;
    -ms-grid-columns: 15vw (1fr)[3];
        grid-template-columns: 15vw repeat(3, 1fr);
  }
}

@media only screen and (max-width: 35.1em) {
  .container-main-grid {
    -ms-grid-rows: 60rem 6rem min-content min-content 6rem min-content 6rem 60rem min-content;
        grid-template-rows: 60rem 6rem -webkit-min-content -webkit-min-content 6rem -webkit-min-content 6rem 60rem -webkit-min-content;
        grid-template-rows: 60rem 6rem min-content min-content 6rem min-content 6rem 60rem min-content;
    -ms-grid-columns: 15vw (1fr)[3];
        grid-template-columns: 15vw repeat(3, 1fr);
  }
}

@media only screen and (max-width: 27em) {
  .container-main-grid {
    -ms-grid-rows: 8rem 50rem 6rem min-content min-content 6rem min-content 6rem min-content min-content min-content min-content;
        grid-template-rows: 8rem 50rem 6rem -webkit-min-content -webkit-min-content 6rem -webkit-min-content 6rem -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content;
        grid-template-rows: 8rem 50rem 6rem min-content min-content 6rem min-content 6rem min-content min-content min-content min-content;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.container-main-grid__header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  grid-column: 2 / -1;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#ae8787), to(rgba(238, 199, 199, 0.45))), url(/img/candle-image-1.jpg);
  background: linear-gradient(to right, #ae8787, rgba(238, 199, 199, 0.45)), url(/img/candle-image-1.jpg);
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 70%;
  color: #eeeeee;
  padding: 20vh 10vw;
}

@media only screen and (max-width: 76rem) {
  .container-main-grid__header {
    padding: 20vh 8vw;
  }
}

@media only screen and (max-width: 60rem) {
  .container-main-grid__header {
    padding: 12vh 6vw;
  }
}

@media only screen and (max-width: 48.68em) {
  .container-main-grid__header {
    padding: 12vh 8vw;
  }
}

@media only screen and (max-width: 27em) {
  .container-main-grid__header {
    padding-top: 12vh;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    background-position: center;
  }
}

.container-main-grid__sidebar {
  grid-row: 1 / -1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  z-index: 200;
  background-color: #607979;
  color: #eeeeee;
  padding: 2rem 0;
}

@media only screen and (max-width: 27em) {
  .container-main-grid__sidebar {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    padding: 0;
  }
}

.container-main-grid__cta {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  grid-column: 2 / -1;
}

@media only screen and (max-width: 27em) {
  .container-main-grid__cta {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
  }
}

.container-main-grid__cta, .container-main-grid__contact-cta, .container-main-grid__testimonial-cta {
  background-color: #8cb1b1;
  text-align: center;
  padding-top: 2rem;
  font-size: 3rem;
  color: #222b2b;
}

@media only screen and (max-width: 76rem) {
  .container-main-grid__cta, .container-main-grid__contact-cta, .container-main-grid__testimonial-cta {
    padding-top: 1.3rem;
    font-size: 2.5rem;
  }
}

.container-main-grid__bestsellers-gallery {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  grid-column: 2 / -1;
  background: #eeeeee;
}

@media only screen and (max-width: 27em) {
  .container-main-grid__bestsellers-gallery {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    grid-column: 1 / -1;
  }
}

.container-main-grid__about {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  grid-column: 2 / -1;
  padding: 10rem 12rem;
  background: #ae8787;
  color: #eeeeee;
  text-align: center;
  font-size: 2rem;
}

@media only screen and (max-width: 27em) {
  .container-main-grid__about {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
    grid-column: 1 / -1;
    padding: 6rem 4rem;
  }
}

.container-main-grid__contact-cta {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / 8;
  grid-column: 2 / -1;
}

@media only screen and (max-width: 27em) {
  .container-main-grid__contact-cta {
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8 / 9;
    grid-column: 1 / -1;
  }
}

.container-main-grid__testimonial-cta {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  grid-column: 2 / -1;
}

@media only screen and (max-width: 27em) {
  .container-main-grid__testimonial-cta {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
    grid-column: 1 / -1;
  }
}

.container-main-grid__testimonial-content {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
  grid-column: 2 / -1;
  background-color: #eeeeee;
}

@media only screen and (max-width: 27em) {
  .container-main-grid__testimonial-content {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7 / 8;
    grid-column: 1 / -1;
  }
}

.container-main-grid__shop, .container-main-grid__message, .container-main-grid__follow {
  padding: 12rem 2rem;
}

@media only screen and (max-width: 27em) {
  .container-main-grid__shop, .container-main-grid__message, .container-main-grid__follow {
    padding: 6rem 2rem;
  }
}

.container-main-grid__shop {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8 / 9;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(206, 221, 221, 0.6)), to(#cedddd)), url(/img/christening-candles-light.png);
  background: linear-gradient(to bottom, rgba(206, 221, 221, 0.6), #cedddd), url(/img/christening-candles-light.png);
  background-size: 100%;
  -webkit-transition: 200ms all ease-in-out;
  transition: 200ms all ease-in-out;
}

@media only screen and (max-width: 76rem) {
  .container-main-grid__shop {
    background-size: 150%;
  }
}

@media only screen and (max-width: 27em) {
  .container-main-grid__shop {
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    grid-row: 9 / 10;
    grid-column: 1 / -1;
    background-size: 100%;
    background-position: center;
  }
}

.container-main-grid__shop:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(206, 221, 221, 0.6)), to(rgba(206, 221, 221, 0.8))), url(/img/christening-candles-light.png);
  background: linear-gradient(to bottom, rgba(206, 221, 221, 0.6), rgba(206, 221, 221, 0.8)), url(/img/christening-candles-light.png);
  background-size: 102%;
}

@media only screen and (max-width: 76rem) {
  .container-main-grid__shop:hover {
    background-size: 152%;
  }
}

@media only screen and (max-width: 27em) {
  .container-main-grid__shop:hover {
    background-size: 102%;
    background-position: center;
  }
}

.container-main-grid__message {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8 / 9;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(206, 221, 221, 0.6)), to(#cedddd)), url(/img/cherry-blossom.jpg);
  background: linear-gradient(to bottom, rgba(206, 221, 221, 0.6), #cedddd), url(/img/cherry-blossom.jpg);
  background-size: 100%;
  -webkit-transition: 200ms all ease-in-out;
  transition: 200ms all ease-in-out;
}

@media only screen and (max-width: 76rem) {
  .container-main-grid__message {
    background-size: 150%;
  }
}

@media only screen and (max-width: 27em) {
  .container-main-grid__message {
    -ms-grid-row: 10;
    -ms-grid-row-span: 1;
    grid-row: 10 / 11;
    grid-column: 1 / -1;
    background-size: 100%;
  }
}

.container-main-grid__message:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(206, 221, 221, 0.6)), to(rgba(206, 221, 221, 0.8))), url(/img/cherry-blossom.jpg);
  background: linear-gradient(to bottom, rgba(206, 221, 221, 0.6), rgba(206, 221, 221, 0.8)), url(/img/cherry-blossom.jpg);
  background-size: 102%;
}

@media only screen and (max-width: 76rem) {
  .container-main-grid__message:hover {
    background-size: 152%;
  }
}

@media only screen and (max-width: 27em) {
  .container-main-grid__message:hover {
    background-size: 102%;
  }
}

.container-main-grid__follow {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8 / 9;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(206, 221, 221, 0.8)), to(#cedddd)), url(/img/header-background-image.jpg);
  background: linear-gradient(to bottom, rgba(206, 221, 221, 0.8), #cedddd), url(/img/header-background-image.jpg);
  background-size: 100%;
  -webkit-transition: 200ms all ease-in-out;
  transition: 200ms all ease-in-out;
}

@media only screen and (max-width: 76rem) {
  .container-main-grid__follow {
    background-size: 150%;
  }
}

@media only screen and (max-width: 27em) {
  .container-main-grid__follow {
    -ms-grid-row: 11;
    -ms-grid-row-span: 1;
    grid-row: 11 / 12;
    grid-column: 1 / -1;
    background-size: 100%;
    background-position: center;
  }
}

.container-main-grid__follow:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(206, 221, 221, 0.6)), to(rgba(206, 221, 221, 0.8))), url(/img/header-background-image.jpg);
  background: linear-gradient(to bottom, rgba(206, 221, 221, 0.6), rgba(206, 221, 221, 0.8)), url(/img/header-background-image.jpg);
  background-size: 102%;
}

@media only screen and (max-width: 76rem) {
  .container-main-grid__follow:hover {
    background-size: 152%;
  }
}

@media only screen and (max-width: 27em) {
  .container-main-grid__follow:hover {
    background-size: 102%;
    background-position: center;
  }
}

.container-main-grid__footer {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9 / 10;
  grid-column: 2 / -1;
  background-color: #d6a5a5;
}

@media only screen and (max-width: 27em) {
  .container-main-grid__footer {
    -ms-grid-row: 12;
    -ms-grid-row-span: 1;
    grid-row: 12 / 13;
    grid-column: 1 / -1;
  }
}

.container-main-grid__test-carousel {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11 / 12;
  grid-column: 2 / -1;
}

.container-mini-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  padding: 6rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: #222b2b;
}

@media only screen and (max-width: 76rem) {
  .container-mini-grid {
    padding: 6rem 2rem;
  }
}

@media only screen and (max-width: 60rem) {
  .container-mini-grid {
    font-size: 1.8rem;
  }
}

.container-mini-grid__image {
  height: 36rem;
  margin: 3rem 0 4rem;
  -webkit-box-shadow: 0 0 2px black;
          box-shadow: 0 0 2px black;
  border-radius: 50%;
  -webkit-transition: 200ms all ease-in-out;
  transition: 200ms all ease-in-out;
}

@media only screen and (max-width: 76rem) {
  .container-mini-grid__image {
    height: 28rem;
  }
}

@media only screen and (max-width: 60rem) {
  .container-mini-grid__image {
    height: 22rem;
  }
}

@media only screen and (max-width: 27em) {
  .container-mini-grid__image {
    height: 16rem;
  }
}

.container-mini-grid__image:hover {
  height: 36.5rem;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media only screen and (max-width: 76rem) {
  .container-mini-grid__image:hover {
    height: 28.5rem;
  }
}

@media only screen and (max-width: 60rem) {
  .container-mini-grid__image:hover {
    height: 22.5rem;
  }
}

@media only screen and (max-width: 27em) {
  .container-mini-grid__image:hover {
    height: 16.5rem;
  }
}

.container-mini-grid__priceband--wedding, .container-mini-grid__priceband--disney, .container-mini-grid__priceband--christening {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ae8787;
}

@media only screen and (max-width: 60rem) {
  .container-mini-grid__priceband--wedding, .container-mini-grid__priceband--disney, .container-mini-grid__priceband--christening {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 27em) {
  .container-mini-grid__priceband--wedding--disney, .container-mini-grid__priceband--disney--disney, .container-mini-grid__priceband--christening--disney {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 27em) {
  .container-mini-grid__priceband--wedding--wedding, .container-mini-grid__priceband--wedding--christening, .container-mini-grid__priceband--disney--wedding, .container-mini-grid__priceband--disney--christening, .container-mini-grid__priceband--christening--wedding, .container-mini-grid__priceband--christening--christening {
    display: none;
  }
}

.carousel-item {
  padding: 2rem 6rem;
}

.carousel-image__photo {
  margin-bottom: 2rem;
  height: 20rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 2px #8cb1b1;
          box-shadow: 0 0 2px #8cb1b1;
}
/*# sourceMappingURL=main.css.map */