.homepage-logo {
    position: fixed;
    top: 4rem;
    right: 4rem;
    height: 6rem;
    padding: 1rem 2rem;

    background-color: rgba($color-primary, 0.7);
    border-radius: 50%;
    box-shadow: 0 0 1px $color-primary;

    transition: all 200ms ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: $color-primary-dark;
    }
}