.sidebar {
  position: fixed;
  top: 2rem;
  left: 0;

  font-size: 1.8rem;

  @include respond(small-desk) {
    left: 0;
    font-size: 1.5rem;
  }

  & li {
    list-style: none;
    padding: 1.5rem 1rem;
    text-align: left;

    @include respond(small-desk) {
      padding: 1.5rem 0;
    }
  }

  &__menu-item {
    list-style: none;

    &--return-to-top {
      position: fixed;
      bottom: 2rem;
      left: 3rem;

      @include respond(small-desk) {
        left: 2rem;
        font-size: 1.2rem;
      }
    }

    &--active {
      font-weight: 600;
    }

    &--link {
      color: $color-text-light;
      text-decoration: none;
      transition: all 100ms ease-in-out;

      &:hover {
        cursor: pointer;
        text-decoration: none;
        color: $color-text-medium;
      }
    }
  }
}
