.sidebar {
  position: fixed;
  top: 2rem;
  left: 1rem;

  font-size: 1.8rem;
  
  li {
    list-style: none;
    padding: 1rem 0;
    text-align: left;
  }

  &__menu-item {
    list-style: none;

    &--return-to-top {
      position: fixed;
      bottom: 2rem;
      left: 3rem;
    }

    &--active {
      font-weight: 600;
    }

    &--link {
      color: $color-text-light;
      text-decoration: none;
      transition: all 100ms ease-in-out;

      &:hover {
        cursor: pointer;
        color: $color-text-medium;
      }
    }
  }
}
