.testimonial-content {

    &__list-1 {
        padding: 4rem 12rem 0 12rem;
    }

    &__stars {
        padding-top: 3rem;
    }

    &__stars,
    &__review {
        font-size: 3rem;
        color: $color-accent;
    }

    &__quotation {
        font-size: 2.5rem;
        padding-bottom: 2rem;
    }

    &__date {
        font-size: 1.8rem; 
        color: $color-text-medium;
    }

    &__image--photo {
    width: 30rem;
    box-shadow: 0 0 2px black;
    border-radius: 50%;
  }
}