.testimonial-content {

    &__list-1 {
        padding: 4rem 12rem 0 12rem;
    }

    &__stars {
        padding-top: 3rem;
    }

    &__stars,
    &__review {
        font-size: 3rem;
        color: $color-accent;

        @include respond(small-desk) {
            font-size: 2.5rem;
        }

        @include respond(tab-land) {
            font-size: 2rem;
        }

        @include respond(tab-port) {
            font-size: 1.75rem;
        }
    }

    &__quotation {
        font-size: 2.5rem;
        padding-bottom: 2rem;

        @include respond(small-desk) {
            font-size: 2rem;
        }

        @include respond(tab-land) {
            font-size: 1.75rem;
        }

        @include respond(tab-port) {
            font-size: 1.5rem;
        }
    }

    &__date {
        font-size: 1.8rem; 
        color: $color-text-medium;

        @include respond(small-desk) {
            font-size: 1.5rem;
        }

        @include respond(tab-land) {
            font-size: 1.3rem;
        }

        @include respond(tab-port) {
            font-size: 1.1rem;
        }
    }

    &__image--photo {
    width: 30rem;
    box-shadow: 0 0 2px black;
    border-radius: 50%;

        @include respond(small-desk) {
            width: 25rem;
        }

        @include respond(tab-land) {
            width: 22rem;
        }

        @include respond(tab-port) {
            width: 20rem;
        }
  }
}