.heading-primary {
    &__main {
        font-family: $font-display-heading;
        font-size: 8rem;
        line-height: 12rem;
        letter-spacing: 3.33333rem;
        text-align: left;

        @include respond(small-desk){
            font-size: 7rem;
            line-height: 12rem;
        }

        @include respond(mini-desk){
            font-size: 6rem;
            line-height: 9rem;
        }
    }

    &__sub {
        font-family: $font-display-heading;
        font-size: 2.5rem;
        letter-spacing: 0.23rem;
        text-align: left;

        @include respond(small-desk){
            font-size: 2.3rem;
        }

        @include respond(mini-desk){
            font-size: 2rem;
        }
    }
}